language: python
python:
  - '3.6'

addons:
  postgresql: '9.6'

services:
  - postgresql

env:
  global:
    - APP_ENV=testing
    - JWT_SECRET_KEY="mukungumayanja"

#  command to install dependences
install:
  - 'pip install -r requirements.txt'

before_script:
  - psql -c "create database posdb;" -U postgres

#  command to run tests
script:
  - py.test -p no:warnings --cov=tests/

after_success:
  - coveralls
  - codecov
